<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
	  <meta charset="UTF-8">
	  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	  <link rel="stylesheet" href="/css/style.css">
	  <title>Add Album</title>
	  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	</head>
	<body>
		<div class="navbar">
		  <div class="navbar-title">
		    <h1>♫ Melody</h1>
		  </div>
		  <div class="navbar-links">
			<a class="active" href="/"><i class="bi bi-house-fill"></i></a>
		    <a href="/albums/add/album"><i class="bi bi-plus-circle"></i>Add Album</a>
			<a href="/add/song"><i class="bi bi-plus-circle"></i>Add Song</a>
			
			
			<form th:action="@{/searching/search}" method="get" style="display: flex; align-items: right;">
			  <input type="text" name="query" placeholder="Search..." class="search-input" />
			  <button type="submit">🔍</button>
			</form>
		  </div>
		</div>
		  <div>
			<h1>Add New Album</h1>

			<form th:action="@{/albums/add}" method="post" class="styled-form">
			  <label for="albumname">Album Name:</label>
			  <input type="text" id="albumname" name="albumname" required><br><br>

			  <label for="publishDate">Year Published:</label>
			  <input type="text" id="yearpublished" name="yearpublished" required><br><br>

			  <label for="cover">Cover URL:</label>
			  <input type="text" id="coverimage" name="coverimage"><br><br>

			  <label for="description">Description:</label><br>
			  <textarea id="description" name="description" required></textarea><br><br>
			  
			  <label for="artistName">Artist:</label>
			  <input type="text" id="artistName" name="artistName" required>


			  <button type="submit">Add Album</button>
			</form>
		  </div>

	</body>
</html>
