<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Albums</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="navbar">
	  <div class="navbar-title">
	    <h1>♫ Melody</h1>
	  </div>
	  <div class="navbar-links">
		<a class="active" href="/"><i class="bi bi-house-fill"></i></a>
	    <a href="/albums/add/album"><i class="bi bi-plus-circle"></i>Add Album</a>
		<a href="/add/song"><i class="bi bi-plus-circle"></i>Add Song</a>
		
		
		<form th:action="@{/searching/search}" method="get" style="display: flex; align-items: right;">
		  <input type="text" name="query" placeholder="Search..." class="search-input" />
		  <button type="submit">🔍</button>
		</form>
	  </div>
	</div>
  
	<div class="card-container">
	  <div class="card" th:each="album : ${albums}">
	    <a th:href="@{/albums/album/{id}(id=${album.id})}" class="album-link">
	      <img th:src="${album.coverimage}" alt="Cover Image" style="width:100%; height: 300px; object-fit: cover;">
	    </a>
	    <div class="container">
	      <h4><b th:text="${album.albumname}">Album Name</b></h4>
		  <p><strong>Artist:</strong> <span th:text="${album.artist.artistName}">Artist Name</span></p>
	      <p><strong>Year:</strong> <span th:text="${album.yearpublished}">2024</span></p>
		  <p><strong>Description:</strong> <span th:text="${album.description}">Album description here...</p>
	    </div>
	  </div>
	</div>


</body>
</html>
